<!DOCTYPE html>
<html lang="en">
<head>
    {{!-- Head Block --}}
    {{#> head-block}}
        {{> includes/head }}
    {{/head-block}}
</head>
<body>
{{!-- Navbar Block
{{#> navbar-block}}
    {{> includes/navbar }}
{{/navbar-block}}
--}}
{{#> content-block }}
    <h1>This shouldn't be here, if it is, something has probably gone terribly wrong.</h1>
{{/content-block}}
{{!-- Footer Block --}}
{{#> footer-block}}
    {{> includes/footer }}
{{/footer-block}}
<!--<script src="//192.168.1.237:{{{dev}}}/browser-refresh.js"></script>-->
</body>
</html>